.container {
    text-align: center;
    margin: 5px;
}

#name, #name-label {
    display: inline-block;
    margin-top: 10px;
    font-size: large;
}

#name {
    margin-right: 5px;
}

#submit {
    margin-top: -5px;
}

.loading-svg {
    animation: rotate 1.5s infinite linear;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}
@keyframes rotate {
    from {
       transform: rotate(0deg); } to {
       transform: rotate(360deg); } to {
        transform: rotate(720deg);
    }
}

.loading-text {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 5px;
}

.loading-text, .loading-svg {
    display: none;
    vertical-align: middle;
}

.search-error-text {
    color: red;
    font-size: 20px;
    margin-top: 10px;
    display: none;
}